Source: dochttx
Section: utils
Priority: optional
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), libzvbi-dev (>= 0.2.17), libncursesw5 (>= 5.5)
Standards-Version: 3.7.2

Package: dochttx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Text mode teletext browser
